body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    color: rgb(60, 62, 85);
    background-image: url(./pexels-mali-maeder-142497.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    line-height: 1.8em;
    font-size: 1.2em;
}

a:link {
    color: rgb(137, 160, 25);
    text-decoration: none;
}

#header {
    color: rgb(60, 62, 85);
    font-weight: 500;
}

aside {
    z-index: 6190619 !important;
    text-orientation: upright;
    position: fixed;
    left: 0;
    top: 45vh;
    font-weight: bold;
    background-color: #ffffff;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

main {
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
}

html {
    height: 100%;
}

section {
    padding: 3em 0;
}

.display {
    min-height: 30em;
}

h1 {
    text-align: center;
    color: rgb(60, 62, 85);
}

#headerLogo {
    width: 30px;
    height: 30px;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30em;
    background-image: url();
}

.landing img {
    max-width: 100%;
    max-height: 30em;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.placeholder {
    max-width: 100%;
}

.variation {
    background-color: rgb(137, 160, 25);
    color: white;
}

aside i {
    margin-top: .5em;
}

aside i:hover, aside i:focus {
    font-size: 1.2em;
    transition: .2s;
}

.widthSet{
    max-width: 80% !important;
    max-height: 60%;
    display: flex;
    justify-content: center;
}

.contactIcons {
    color: white;
    background-color: rgb(137, 160, 25);
    border-radius: 50px;
    max-width: 100%;
    font-size: 3em;
}


@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }

    aside {
        top: 37vh;
    }
    
    body {
        font-size: 1em;
    }

    .grow {
        flex-grow: 0;
        max-width: 100%;
        margin-bottom: 3%;
    }
  }


